@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.homePage {
  width: 100%;
  height: 100vh;
  background-color: #c50e5d;

  background-image: linear-gradient(
    43deg,
    #c50e5d 0%,
    #f8615a 50%,
    #f2ce63 100%
  );
}
.row {
  padding-top: 80px;
}

.emoji {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
.Typewriter__wrapper {
  /* New align*/
  text-align: left;
  font-size: 2.2em !important;
  color: #191919 !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #191919 !important;
}

.hello-text {
  /* New align*/
  text-align: left;
  padding-top: 120px;
  font-size: 2.9em !important;
  color: #191919 !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}

.name-text {
  /* New align*/
  text-align: left;
  font-size: 2.7em !important;
  color: #191919 !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}

.homepageImageDev {
  margin-top: 50px;
  max-width: 550px;
  height: 400px;
  background-image: url(../../assets/homePageImg.png);
  background-size: cover;
  background-position: center;
}
.socialmediabtn {
  margin-top: 2rem;
  width: 100px;
  height: 55px;
  background-color: transparent;
  border: none;
  border-radius: 15px;
}
.socialmediabtn:hover {
  background-color: antiquewhite;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  opacity: 0.6;
}
.icon {
  font-size: 30px;
}
@media (max-width: 767px) {
  .homepagebackground {
    width: 100%;
    height: 100%;
  }
  .row {
    padding-top: 50px;
  }

  .Typewriter__wrapper {
    font-size: 1.9em !important;
  }
  .Typewriter__cursor {
    font-size: 2.2em !important;
  }
  .headtext {
    padding-top: 100px;
    font-size: 2em !important;
  }
  .nametext {
    font-size: 2.4em !important;
  }
  .imagedeveloper {
    margin-top: 50px;
    max-width: 420px;
    max-height: 400px;
  }
  .socailmediabtn {
    margin-top: 1rem;
  }
}

/* New*/
.icon-btns {
  text-align: left;
}
/* New*/
.Typewriter {
  text-align: left;
}
